body{
background-color: rgb(233, 214, 130);
}

main{
width: 60%;
margin: auto;
display: grid;
/* grid-gap: 5px; */
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 14vh;
}

.item1{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
border: solid 2px black;
}

.item2{ 
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 4;
border: solid 2px black;
}

.item3{
grid-row-start: 3;
grid-row-end: 5;
border: solid 2px black;
 }

.item4{
grid-row-start: 3;
grid-row-end: 5;
border: solid 2px black;
}

.item5{
grid-row-start: 4;
grid-row-end: 6;
 border: solid 2px black;
}
    
.item6{
grid-row-start: 4;
grid-row-end: 8;
border: solid 2px black;
}  

.item7{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 8;
border: solid 2px black;
}

.item8{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 6;
grid-row-end: 8;
border: solid 2px black;
}